.accordion-wrapper {
    @apply border border-gray-200 dark:border-gray-700 rounded-lg shadow-md;

    label {
        @apply relative flex cursor-pointer text-lg md:text-xl px-4 py-2;
    }
}


.accordion-wrapper label:hover:after, .accordion-wrapper input:checked + label:hover:after {
    opacity: 0.3;
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    right: 15px;
    top: 7px;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+) no-repeat center center;
}

.accordion-wrapper input:checked + label:hover:after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion-wrapper input {
    display: none;
}

.accordion-wrapper article {
    @apply px-4 overflow-hidden relative border-b border-gray-200 dark:border-gray-700;
    transition: max-height 0.6s ease-in-out;
    max-height: 0;
}

.accordion-wrapper input:checked ~ article {
    max-height: inherit;
}

.accordion-wrapper input:checked + label {
}

.accordion-wrapper > div:last-child label, .accordion-wrapper > div:last-child input:checked ~ article {
    @apply border-b-0;
}
