{% extends 'partials/base.html.twig' %}

{% block body %}
    <div class="pt-6 pb-12 px-4 mx-auto max-w-screen-xl">
        {% include 'partials/content-title.html.twig' %}
        {% block content %}
        <article id="body" class="prose mx-auto max-w-screen-lg pb-16">
            {{ page.content|raw }}
        </article>
        {% endblock %}
    </div>
{% endblock %}
