{% extends 'partials/base.html.twig' %}

{% block body %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white tracking-tight">{{ page.title }}</h1>
                {% if page.header.subtitle %}
                <div class="font-light text-gray-500 dark:text-gray-400 sm:text-xl">{{ page.header.subtitle }}</div>
                {% endif %}
            </div>
            {% block content %}
            <main id="body" class="prose dark:prose-invert mx-auto max-w-screen-lg pb-16">
                {{ page.content|raw }}
            </main>
            {% endblock %}
        </div>
    </section>
{% endblock %}
