{% extends 'default.html.twig' %}

{% block body %}
<section class="bg-gray-50 dark:bg-gray-900 min-h-[calc(100vh-11rem)] flex items-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white tracking-tight">Error 404</h1>
                <h2 class="text-2xl md:text-3xl lg:text-4xl text-gray-700 dark:text-gray-400">Page Not Found</h2>
            </div>
        </div>
    </section>
{% endblock %}
