{% extends 'partials/base.html.twig' %}

{% block body %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
                <h1 class="mb-4 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white tracking-tight">{{ page.title }}</h1>
                <p class="font-light text-gray-500 dark:text-gray-400 sm:text-xl">Morbi dictum blandit turpis sed porta. Pellentesque pulvinar ante eu metus lacinia consectetur. Vestibulum diam ex, tincidunt in sapien vitae, imperdiet lacinia metus.</p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
                {% for feature in page.header.features %}
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800">
                    <div
                        class="flex justify-center items-center mb-4 w-12 h-12 p-2 rounded bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-800/75">
                        {{ fa_icon(feature.icon, 'text-primary-600 dark:text-primary-500')|raw }}
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">{{ feature.title }}</h3>
                    <p class="font-light text-gray-500 dark:text-gray-400">{{ feature.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}