{% extends 'partials/base.html.twig' %}

{% block body %}
<section class="bg-gradient-to-b from-gray-50 to-white dark:from-gray-950/95 to dark:to-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
            <h1 class="mb-4 text-4xl font-extrabold leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white tracking-tight">{{ page.title }}</h1>
        </div>
        <div class="">
            {% for module in page.collection %}
               {% set target = module.header.sticky_menu|default(module.header.title) %}
               {% set target = target|lower|hyphenize %}
               <a id="{{ target }}" class="scroll-spy-anchor"></a>
               {{ module.content|raw }}
             {% endfor %}
        </div>
    </div>
</section>

{% endblock %}