{% set is_htmx = is_htmx|default(false) %}
{% set start = start|default(0) %}
{% set posts = posts|default([]) %}

<div x-data="guidelinesFilter" class="grid mb-16 lg:-mx-8 lg:divide-x lg:divide-gray-200 dark:lg:divide-gray-700 lg:grid-cols-3">
    <div class="pb-8 prose lg:pr-8">
        <div class="lg:sticky lg:top-4">
            <h3>Filters:</h3>
            <div class="not-prose">
            {% include 'partials/taxonomylist.html.twig' with {'base_url':page.url, 'taxonomy':'tag'} %}
            </div>
        </div>
    </div>
    <div id="blog-col-2" class="space-y-8 lg:px-8">
        {% for post in posts %}
            {% set global_index = start + loop.index0 %}
            {% if global_index is even %}
                {% include 'partials/blog/post-card.html.twig' with { post: post } %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="blog-col-3" class="space-y-8 lg:px-8">
        {% for post in posts %}
            {% set global_index = start + loop.index0 %}
            {% if global_index is odd %}
                {% include 'partials/blog/post-card.html.twig' with { post: post } %}
            {% endif %}
        {% endfor %}
    </div>
</div>
