<div class="mx-auto text-center mb-8 lg:mb-16 bg-gray-100 rounded-xl py-6 lg:py-12 px-8 md:px-16 lg:px-24">
    <h1 class="font-title mb-4 text-3xl font-light tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl">{{ page.title }}</h1>
    {% if page.header.subtitle %}
    <div class="font-light text-gray-500 sm:text-xl">{{ page.header.subtitle }}</div>
    {% endif %}
</div>