<div class="mx-auto text-center mb-0 py-6 lg:py-8 px-8 md:px-16 lg:px-24">
    <h1 class="mb-4 text-3xl font-medium tracking-tight leading-none text-gray-700 md:text-4xl lg:text-5xl">{{ page.title }}</h1>
    {% if page.header.subtitle %}
    <div class="font-light text-gray-500 sm:text-xl">{{ page.header.subtitle }}</div>
    {% endif %}

</div>
<hr class="h-px mb-8 bg-gray-200 border-0">