<div class="max-w-4xl mx-auto text-center mb-0 py-8 md:py-12 lg:py-16 px-8">
    <h1 class="mb-4 text-3xl font-medium tracking-tight leading-none text-black md:text-4xl lg:text-5xl">{{ page.title }}</h1>
    {% if page.header.subtitle %}
    <div class="font-light text-gray-800 sm:text-xl">{{ page.header.subtitle }}</div>
    {% endif %}
</div>
