{% set footer = site.footer %}
<footer class="bg-gray-900/90 border-t border-gray-800">
    <div class="prose text-sm font-light text-gray-400 [&_strong]:text-gray-300 [&_a]:text-underline [&_a]:text-gray-300 p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:-10">

        <hr class="my-6 border-gray-700 sm:mx-auto">

        {{ footer.copyright|markdown }}

        <div class="grid grid-cols-2 gap-x-8 items-center">
            <div class="lg:pr-8 ">
                {{ footer.privacy|markdown }}
            </div>
            <div class="flex justify-end not-prose">
                <img class="h-[27px]" src="{{ url('theme://images/footer-logo.svg') }}" alt="footer logo"/>
            </div>

        </div>
    </div>
</footer>
