{% set footer = site.footer %}
<footer class="bg-gray-100 border-t border-gray-200">
    <div class="prose text-sm font-light text-gray-700 [&_strong]:text-gray-600 [&_a]:text-underline [&_a]:text-primary-700 p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:-10">

        {{ footer.copyright|markdown }}

        <div class="grid grid-cols-2 gap-x-8 items-center">
            <div class="lg:pr-8 ">
                {{ footer.privacy|markdown }}
            </div>
            <div class="flex justify-end not-prose">
                <a href="https://library.nyu.edu">
                    <img class="h-[27px] invert opacity-50" src="{{ url('theme://images/nyulibraries-logo.svg') }}" alt="footer logo"/>
                </a>
            </div>

        </div>
    </div>
</footer>
